body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*html { overflow: scroll; }*/
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-carousel .slick-slide {
  align-content: center;
  height: 200px;
  background: #fff;
  overflow: hidden;
}
.ant-carousel .slick-slide img {
  width: 100%;
  height: 200px;
}

#leftbar{
  display: flex;
  position: relative;
}
#content{
    padding: 24px;
    background: #fff;
    display: flex;
    position: relative;
    min-height: 125vh;
}
#sider{
  background: #f9f0ff;
}
#header{
  padding: 10px;
  flex-wrap: nowrap;
}
#bamdb{
  width: 200px;
}

#togglebutton{
  color: saddlebrown;
  margin-top: 16px;
  margin-left: 16px;
}

#leftbar-foot{
  margin-top: 24px;
  margin-bottom: 40px;
}

#message{
  width:300px;
}