
.login{
    background-image: url("/src/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
div{}
#register
{
    text-align: center;
    padding-top: 64px;
    padding-bottom: 32px;
    min-width: 600px;
}

#register-body
{
    min-width: 300px;
}




