.type3{background-color: lightgrey;
    border: none;
    border-radius: 4px;
    color: white;
    width: 20px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;}
.type4{background-color: pink;
    border: none;
    border-radius: 4px;
    color: white;
    width: 20px;
    padding: 5px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;}