#userinfomain{width: 1000px;height: 400px}
#left{width:200px;height: 300px;float: left;text-align: center}
#right{width: 750px;height: 300px;float: left}
#right-part{width: 250px;margin-left: 75px;float: left}
#avatar{width: 150px;height:150px;margin-top: 40px}
li{height: 90px}
#bottom{margin-left: 250px}
#button{margin-left: 25px}